* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --bg-color: #000640;
    --second-bg-color: rgb(4, 0, 112);
    --text-color: #fff;
    --main-color: #ff0000;
    --font1: 'baloo bhaiya 2', cursive;
    --font2: 'Roboto', sans-serif;
    
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.header.sticky{
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    cursor: default;
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}


#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}

#menu-icon:hover{
    cursor: pointer;
}


.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

span {
    color: var(--main-color);
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    /* color: var(--main-color); */
}

.home-img img {
    height: 40rem;
    width: 28vw;
    border: 0.2rem solid var(--main-color);
    box-shadow: 0 0 0.6rem var(--main-color);
    border-radius: 4rem;
}

.home-content p {
    font-size: 1.7rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 30%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    transform: rotate(360deg);
    transition: all 0.6s ease-in
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 0.6rem var(--main-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.btn:hover {
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 25vw;
    height: 60vh;
    border: 0.2rem solid var(--main-color);
    box-shadow: 0 0 0.6rem var(--main-color);
    border-radius: 50%;
}

.heading {
    text-align: center;
    font-size: 4.2rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.4;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.7rem;
    margin: 2rem 0 3rem;

}


.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--bg-color);
}


.skills h2 {
    padding-bottom: 2.6rem;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}


.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 2.4rem;
    margin: 0 0 1.4rem;
}

.skills-box .skills-content {
    position: relative;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
    background: var(--second-bg-color);
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, rgb(41, 48, 255), rgb(0, 0, 0, 0.1));
    z-index: -1;
    transition: 0.5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}


.skills-content .progress h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress .bar {
    height: 2.3rem;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--main-color);
    padding: 0.5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 0.3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 40%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 40%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 40%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 70%;
}


.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
}


.portfolio-box:hover img {
    transform: scale(1.1);
    transition: 0.5s ease;
}


.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translate(0%);
}

.portfolio-layer h4 {
    font-size: 3rem;
}


.portfolio-layer p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.signup {
    background: var(--bg-color);
}

.signup h2 {
    margin-bottom: 3rem;
}

.subscribe-form {
    position: relative;
    align-items: center;
    justify-content: center;
    margin:  auto;
    margin-bottom: 2rem;
    width: calc(100% -20px);
    max-width: 62rem;
    background: var(--second-bg-color);
    display: grid;
    gap: 0.6rem;
    padding: 3rem 2.5rem 2.5rem;
    box-shadow: 0 0 1rem var(--second-bg-color);
    border-radius: 2rem;
    display: flex;

}

.subscribe-form img {
    width: 100%;
}


.subscribe-form .left {
    display: flex;
    align-items: center;
}

.subscribe-form .right h2 {
    font-size: 4.6rem;
    line-height: 1.15;
    margin-bottom: 2rem;
    color: var(--text-color);
}

.subscribe-form .right p {
    font-size: 1.7rem;
    margin-bottom: 1.7rem;
    color: var(--text-color);
}

.subscribe-form .right .form label {
    display: block;
    margin-bottom: 0.6rem;
    font-size: 1.6rem;
    margin-top: 0.8rem;
}

.subscribe-form .right .form .input {
    margin-bottom: 1rem;
}

.subscribe-form .right .form input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: 0.07rem solid var(--main-color);
    font-size: 1.4rem;
}

.subscribe-form .right .form .btn {
    width: 100%;
    border-radius: 4rem;
}

.subscribe-form .right .form .btn:hover {
    cursor: pointer;
}

.contact{
    background: var(--second-bg-color);
}
.contact h2 {
    margin-bottom: 2rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact from .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    margin: 0.5rem 0;
}

.contact form .input-box input {
    width: 49.7%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 1.5rem;
    cursor: pointer;
}



.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}


.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}


.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);

}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}